*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 10%;
}

.escola{
    background-image: linear-gradient(#424E61,#16CFF8);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.alunos2B{width: 30%;
    justify-content: flex-start;
}
.estudantes{  background-image: linear-gradient(#424E61,#16CFF8);
    color:white;
   display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    
}
.estudante-titulo{
    text-align: center;
    padding: 24px 0;
}.estudante-icone{justify-content: center;}
.rodape{
    background-color: rgb(25, 7, 50);
    text-align: center;
    padding: 24px;
}
.rodape-escola{color: white;}

